#### Basic Functions

In [1]:
def show():
    print ('Hello World')

In [2]:
# Function Call
show()

Hello World

In [3]:
show()
show()
show()

Hello World
Hello World
Hello World

In [4]:
  def show():
    print ('Hello World')
    print ('Welcome')
    print ('Goodbye...')

In [5]:
show()
show()

Hello World
Welcome
Goodbye...
Hello World
Welcome
Goodbye...

##### Parameterized Functions

In [6]:
def square(n):   # n- > parameter / argument
    sq = n*n
    print ('Square is: ', sq)

In [7]:
square(8)

Square is:  64

In [8]:
square(6)

Square is:  36

In [9]:
def convert (s):
    print ('Lower:', s.lower())
    print ('Upper:', s.upper())
    print('Title:', s.title())

In [11]:
convert( 'SuSHmitA')

Lower: sushmita
Upper: SUSHMITA
Title: Sushmita

In [12]:
convert ('INDIA')

Lower: india
Upper: INDIA
Title: India

In [13]:
convert('SOUTH KOREA')

Lower: south korea
Upper: SOUTH KOREA
Title: South Korea

In [16]:
def larger (x,y):
    if x>y:
        print (x, 'is larger.')
    else:
        print(y, 'is larger.')

In [17]:
larger (54,98)

98 is larger.

In [20]:
larger (56.78, 67.98)

67.98 is larger.

##### Function Returning Values

In [27]:
def square (num):
    sq= num ** 2
    return sq

In [32]:
x = square (4)

In [33]:
print ('Square is:', x)

Square is: 16

In [34]:
print (' Square is:', square (3))

 Square is: 9

In [35]:
3 * square(3)

27

In [36]:
def larger (x,y):
    if x>y:
       return x
    else:
        return y

In [37]:
print (larger (4,6))

6

##### Return multiple values

In [38]:
def calc(n):
    sq = n*n
    cu =n ** 3
    return sq, cu

In [39]:
calc(6)

(36, 216)

In [40]:
# Write a function -> is positive() to pass a number as  parameter and print 
# True if number is positive else print negative

In [43]:
def isPositive (n):
    if n>0:
        return True
    else:
        return False

In [44]:
isPositive(45)

True

In [45]:
isPositive(-28)

False

In [47]:
# Write a function to pass the distance in kilometers as parameter
# and return distance in miles as output

# miles = kilometers / 1.609

In [50]:
def miles(distance):
    ml = distance/1.609
    return ml

In [51]:
miles(200)

124.30080795525171

##### Default Parameters/Keyword Arguemnts

In [52]:
def add (x=5, y=2, z=3):
    a= x+y+z
    return a

In [58]:
print ('Result -1:', add (4,1,6))
print ('Result -2:', add (4,1))
print ('Result -3:', add (4))
print ('Result -4:', add ())
print ('Result -5:', add ( y=6, z=9, x=2))
print ('Result -1:', add (z =5))

Result -1: 11
Result -2: 8
Result -3: 9
Result -4: 10
Result -5: 17
Result -1: 12

In [59]:
x = [4,6,5,8,7,2,9]

In [60]:
sorted(x)

[2, 4, 5, 6, 7, 8, 9]

In [73]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [66]:
sorted(x, reverse =True)

[9, 8, 7, 6, 5, 4, 2]

In [67]:
x, y =45,23

In [68]:
print (x,y)

45 23

In [69]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [70]:
print (x, y, sep='_')

45_23

In [71]:
x,y,z ,w =7,4,3,5

In [72]:
print(x, y, z, w, sep= '_')

7_4_3_5

##### Lambda Functions

In [74]:
square = lambda x : x * x

In [75]:
square(5)

25

##### lambda-map function

In [76]:
num = [ 56,34,13,58,51,47,30]

In [77]:
new=  map(lambda x: x/2 ,num)

In [78]:
list(new)

[28.0, 17.0, 6.5, 29.0, 25.5, 23.5, 15.0]

In [79]:
new=  map(lambda x: x ** 2 ,num)
list(new)

[3136, 1156, 169, 3364, 2601, 2209, 900]

##### lambda-filter function

In [80]:
num

[56, 34, 13, 58, 51, 47, 30]

In [83]:
new= filter (lambda x : x > 40, num)

In [82]:
list(new)

[56, 58, 51, 47]

In [84]:
new= filter (lambda x : x % 2 == 1, num)
list(new)

[13, 51, 47]

In [85]:
new= filter (lambda x : x % 2 == 0, num)
list(new)

[56, 34, 58, 30]