In [1]:
print (a)

NameError: name 'a' is not defined

In [2]:
a = Tushar
a*a

NameError: name 'Tushar' is not defined

In [3]:
x = [ 4,5,6,7]
print (x[6])

IndexError: list index out of range

In [4]:
x = "hello"
y = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [5]:
d = [2:45, 6:67)
print (d[1])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (600580681.py, line 1)

In [7]:
t = (56, 66, 23)
t.get()

AttributeError: 'tuple' object has no attribute 'get'

In [8]:
import pune

ModuleNotFoundError: No module named 'pune'

In [9]:
num1 = int(input('Enter first number: '))
num2 = int (input('Enter second number: '))



result= num1 /num2
print ('Division is:', result)

Enter first number:  45
Enter second number:  67

Division is: 0.6716417910447762

In [10]:
num1 = int(input('Enter first number: '))
num2 = int (input('Enter second number: '))



result= num1 /num2
print ('Division is:', result)

Enter first number:  56
Enter second number:  0

ZeroDivisionError: division by zero

In [12]:
num1 = int(input('Enter first number: '))
num2 = int (input('Enter second number: '))

try:
    result = num1/num2
    print ('Division is:' , result)

except ZeroDivisionError:

    print(' Wrong Input')

Enter first number:  86
Enter second number:  0

 Wrong Input

In [14]:
num1 = int(input('Enter first number: '))
num2 = int (input('Enter second number: '))

try:
    result = num1/num2
    print ('Division is:' , result)

except ZeroDivisionError:

    print(' Wrong Input')

Enter first number:  one

ValueError: invalid literal for int() with base 10: 'one'

In [15]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int (input('Enter second number: '))
    result = num1/num2
    print ('Division is:' , result)
except Exception:
    print(' Wrong Input')

Enter first number:  56
Enter second number:  w

 Wrong Input

In [16]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int (input('Enter second number: '))
    result = num1/num2
    print ('Division is:' , result)
except Exception as e:
    print(' Wrong Input:', e)

Enter first number:  67
Enter second number:  0

 Wrong Input: division by zero

In [17]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int (input('Enter second number: '))
    result = num1/num2
    print ('Division is:' , result)
except Exception:
    print(' Wrong Input:')

finally:
    print ('Code Completed!')

Enter first number:  67
Enter second number:  0

 Wrong Input:
Code Completed!

In [18]:
try:
    num1 = int(input('Enter first number: '))
    num2 = int (input('Enter second number: '))
    result = num1/num2   
except Exception:
    print(' Wrong Input:')
else:
    print('Division is:', result)
finally:
    print ('Code Completed!')

Enter first number:  78
Enter second number:  0

 Wrong Input:
Code Completed!